<!--待审批记录查询-->
<div class="row list_query margin-top-15">
    <div class="col-xs-5">
        <div class="input-group">
            <input  placeholder="请输入支付单号" type="text"  class="form-control" ng-model="auditing.paymentPlatformAudit.visaSerialNo">
            <span  class="input-group-addon cursor_pointer" ng-click="searchAuditing()"><div  class="glyphicon glyphicon-search"></div></span>
        </div>
    </div>
    <div ng-show="!auditing.status.moreFlag" class="col-xs-4 col-sm-2 col-md-2 list_query_font"><span ng-click="auditing.status.moreFlag=!auditing.status.moreFlag">高级查询</span></div>
    <div ng-show="auditing.status.moreFlag" class="col-xs-4 col-sm-2 col-md-2 list_query_font"><span ng-click="auditing.status.moreFlag=!auditing.status.moreFlag ">普通查询</span></div>
</div>
<div class="mc_form" ng-if="auditing.status.moreFlag">
    <form class="form-horizontal">
    <div class="form-group col-xs-12 col-sm-12 col-md-6">
        <!--<div class="col-xs-2 control-label"><span>管控环节：</span></div>-->
        <!--<div class="col-xs-4">-->
                <!--<div mc-code-select code="send_pending_annulus" ng-model="auditing.paymentPlatformAudit.annulus" class="form_two_select"></div>-->
        <!--</div>-->
        <label class="col-xs-4">支付单号：</label>
        <div class="col-xs-7">
            <input class="col-xs-12" type="text" ng-model="auditing.paymentPlatformAudit.visaSerialNo">
        </div>
    </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
        <label class="col-xs-4">提交时间：</label>
        <div class="col-xs-7">
            <input  type="text" ng-model="auditing.paymentPlatformAudit.earlierMonth" jedate id="audit1" format="YYYY-MM-DD" name="date" class="col-xs-5 date">
           <span class="col-xs-2 text-center"> 至</span>
            <input  type="text" ng-model="auditing.paymentPlatformAudit.laterMonth" jedate id="audit2" format="YYYY-MM-DD" name="date" class="col-xs-5 date">
        </div>
    </div>
    <div class="form-group  col-xs-12 col-sm-12 col-md-6">
        <label class="col-xs-4">业务部门：</label>
        <div class="col-xs-7">
            <select-list selectType="salesDepartment" my-class="col-xs-12"
                         data='{"comCode":comCode,"centerCode":centerCode}'
                         ng-model="auditing.paymentPlatformAudit.businessDepartment"
                         ng-value="auditing.paymentPlatformAudit.businessPart"
                         wait-change="clearOperator()">
            </select-list>
        </div>
    </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
        <label class="col-xs-4">业务员：</label>
        <div class="col-xs-7">
            <select-list  selectType="operatorName" my-class="col-xs-12"
                          data='{"comCode":comCode,"checkComCode":auditing.paymentPlatformAudit.businessDepartment}'
                         ng-model="auditing.paymentPlatformAudit.businessMember"
                         ng-value="auditing.paymentPlatformAudit.businessMan">
            </select-list>
        </div>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-6">
        <label class="col-xs-4">业务类型：</label>
        <div class="col-xs-7">
            <div class="col-xs-12 pl0 pr0">
                <div mc-code-select code="send_businessType" ng-model="auditing.paymentPlatformAudit.businessType"></div>
            </div>
        </div>
    </div>
        <div class="form-group col-xs-12 col-sm-12 col-md-6">
        <label class="col-xs-4">待审批状态：</label>
        <div class="col-xs-7">
            <div class="col-xs-12 pl0 pr0">
                <div mc-code-select code="sendStart_approveStatus" ng-model="auditing.paymentPlatformAudit.approveStatus"></div>
            </div>
        </div>
    </div>
        <div class="form-group"></div>
    <div class="row list_queryForm_btn">
        <button class="btn btn-success"  ng-click="searchAuditing()">查询</button>
        <button class="btn btn-primary"  ng-click="resetAuditing()">重置</button>
    </div>
    </form>
</div>
<div class="venus_table">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>序号</th>
            <!--<th>管控环节</th>-->
            <th>支付单号</th>
            <th>申请人</th>
            <th>审批流名称</th>
            <th>审批状态</th>
            <!--<th>当前节点</th>-->
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="d in auditing.auditingList">
            <td>{{$index+1}}</td>
            <!--<td ng-switch="d.annulus">-->
                <!--<span ng-switch-when="0">一级审批-->
                <!--<span ng-switch-when="1">二级审批</span>-->
                <!--<span ng-switch-when="2">已推送</span>-->
                <!--<span ng-switch-when="3">未审批</span>-->
            <!--</td>-->
            <td><a href="" ng-click="lookVisaSerialNo(d)">{{d.visaSerialNo}}</a></td>
            <td>{{d.operateName}}</td>
            <td ng-switch="d.taskName">
                <span ng-switch-when="0">送支付平台审核</span>
            </td>
            <td ng-switch="d.approveStatus">
                <span ng-switch-when="0">已一级审核</span>
                <span ng-switch-when="1">已审核</span>
                <span ng-switch-when="2">已推送</span>
                <span ng-switch-when="3">未审批</span>
                <span ng-switch-when="z">支付信息待修改</span>
            </td>
            <!--<td><a href="" ng-click="lookPhoto(d)">{{d.currentNode}}</a></td>-->
            <td><a href="" ng-click="lookAuditDto(d)"><i class="glyphicon glyphicon-compressed color-oranage"></i>审批 </a> <a href="" ng-click="lookMoreAuditDto(d)"><i class="glyphicon glyphicon-eye-open color-oranage"></i>详细信息 </a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row list_content_bottom" ng-if="auditing.pagination.totalItems>0">
        <span class="text-left" align="bottom">共{{auditing.pagination.totalItems}}条记录</span>
        <pagination
                ng-if="auditing.pagination.totalItems>auditing.pagination.pageSize"
                ng-model="auditing.pagination.pageIndex"
                class="auditing.pagination-sm pull-right"
                total-items="auditing.pagination.totalItems"
                page="auditing.pagination.pageIndex"
                items-per-page="auditing.pagination.pageSize"
                max-size="auditing.pagination.maxSize"
                previous-text="上一页"
                next-text="下一页"
                first-text="首页"
                last-text="末页"
                class=""
                ng-click="searchAuditing('page')"
                style="margin: 0 20px 20px 0;"
                boundary-links="true"
                on-select-page="onSelectPage(page)">
        </pagination>
</div>
