<!--仲裁处理-->
<div class="modal-content" style="width: 1080px;padding: 0 24px">
    <div class="modal-header">
        <a class="glyphicon glyphicon-remove pull-right venus_modal_icon" ng-click="cancel()"></a>
        <h5 class="text-center">仲裁处理</h5>
    </div>
    <div class="modal-body" style="padding:15px 0">
        <div class="venus_modal_tableName">
            <span>银行流水信息</span>
        </div>
        <div class="form_modal">
            <form class="form-horizontal">
                <div class="form-group">
                    <span class="col-md-2 control-label">银行流水号：</span>
                    <div class="col-md-4">
                        <input type="text" ng-model="modalArbitrationManage.policyNo" readonly>
                    </div>
                    <span class="col-md-2 control-label">银行账户号：</span>
                    <div class="col-md-4">
                        <input type="text" ng-model="modalArbitrationManage.businessNature" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-md-2 control-label">付款人：</span>
                    <div class="col-md-4">
                        <input type="text" ng-model="modalArbitrationManage.coinsName" readonly>
                    </div>
                    <span class="col-md-2 control-label">到账时间：</span>
                    <div class="col-md-4">
                        <input type="text" ng-model="modalArbitrationManage.startDate" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-md-2 control-label">金额：</span>
                    <div class="col-md-4">
                        <input type="text" ng-model="modalArbitrationManage.planFee" readonly>
                    </div>
                    <span class="col-md-2 control-label">币种：</span>
                    <div class="col-md-4">
                        <input type="text" ng-model="modalArbitrationManage.currency1" readonly>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-body account-modal-submit venus_table">
        <div class="venus_modal_tableName">
            <span>交易认领情况</span>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th><input type="checkbox" ng-model="modalArbitrationManage.checkedAll" ng-change="checkedAll();changeClass()"></th>
                <th>业务单号</th>
                <th>仲裁状态</th>
                <th>币种</th>
                <th>金额</th>
                <th>认领机构</th>
                <th>认领时间</th>
                <th>认</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in modalArbitrationManage.list">
                <td ng-class="d.changeClass"><input type="checkbox" ng-model="d.checked" ng-change="checkedOne();changeClass()"></td>
                <td ng-class="d.changeClass">{{d.policyNo}}</td>
                <td ng-class="d.changeClass">{{d.}}</td>
                <td ng-class="d.changeClass">{{d.currency1}}</td>
                <td ng-class="d.changeClass">{{d.taxFee}}</td>
                <td ng-class="d.changeClass">{{d.agentName}}</td>
                <td ng-class="d.changeClass">{{d.startDate}}</td>
                <td ng-class="d.changeClass">{{d.planFee}}</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="confirmArbitration()">仲裁确认</button>
        <button class="btn btn-success" ng-click="returnArbitration()">仲裁退回</button>
    </div>
</div>