<!--日结单信息-->
<div class="modal-content" style="width: 82%;padding:0 24px">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <div class="modal-title text-center">日结单</div>
    </div>
    <div class="mc_form">
        <form class="form-horizontal">
            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                <label class="col-xs-4">收付机构：</label>
                <div class="col-xs-8">
                    {{comCode}}
                </div>
            </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                <label class="col-xs-4">收付员：</label>
                <div class="col-xs-8">
                    {{handlerCode}}
                </div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                <label class="col-xs-4">币种：</label>
                <div class="col-xs-8">{{currency}}</div>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                <label class="col-xs-4">业务日期：</label>
                <div class="col-xs-8">{{balanceDate}}</div>
            </div>
            <div class="form-group"></div>
        </form>
    </div>
    <div class="venus_table">
        <div class="venus_modal_tableName">
            <span>代收代付信息</span>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>收付方式</th>
                <th>业务类型</th>
                <th>账户</th>
                <th>借（收）方发生金额</th>
                <th>贷（收）放发生金额</th>
                <th>笔数</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in paymentList">
                <td>{{d.payType | mcCode:"paymentMehtod"}}</td>
                <td>{{d.businessType | mcCode:"payRefReason"}}</td>
                <td>{{d.account}}</td>
                <td>{{d.debitSum}}</td>
                <td>{{d.creditSum}}</td>
                <td>{{d.quantity}}</td>
            </tr>
            </tbody>
        </table>
        <div class="form-group" ng-show="bpaymentList.length>0" style="margin-top: 23px;height:150px;">
            <div class="venus_modal_tableName">
                <span>补充资料：</span>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>临时凭证号</th>
                    <th>业务类型</th>
                    <th>收付方式</th>
                    <th>业务单号</th>
                    <th>账户名称</th>
                    <th>借（收）方发生金额</th>
                    <th>贷（收）放发生金额</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="8" style="text-align:left">一、红冲及更正记录</td>
                </tr>
                <tr ng-repeat="d in bpaymentList">
                    <td>{{d.voucherNo}}</td>
                    <td>{{d.payType | mcCode:"payRefReason"}}</td>
                    <td>{{d.payWay | mcCode:"paymentMehtod"}}</td>
                    <td>{{d.certiNo}}</td>
                    <td>{{d.account}}</td>
                    <td>{{d.debitSum}}</td>
                    <td>{{d.creditSum}}</td>
                    <td>{{d.quantity}}</td>
                </tr>
                <!--<tr>-->
                    <!--<td colspan="8" style="text-align:left">二、异币种结算记录</td>-->
                <!--</tr>-->
                <!--<tr ng-repeat="d in paymentList">-->
                    <!--<td>{{d.voucherno}}</td>-->
                    <!--<td>{{d.payType}}</td>-->
                    <!--<td>{{d.payWay}}</td>-->
                    <!--<td>{{d.certino}}</td>-->
                    <!--<td>{{d.Account}}</td>-->
                    <!--<td>{{d.debitSum}}</td>-->
                    <!--<td>{{d.creditSum}}</td>-->
                    <!--<td>{{d.quantity}}</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td colspan="2">操作日结：</td>-->
                    <!--<td colspan="2">现金存银行合计：</td>-->
                    <!--<td colspan="2">银行提现金合计：</td>-->
                    <!--<td colspan="2"></td>-->
                <!--</tr>-->
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn  btn-width" ng-click="printTest()">打印</button>
        <button class="btn btn-success btn-width" ng-click="dailyFlowList(dailyAccount)">日结流水单</button>
        <button class="btn btn-warning btn-width" ng-click="cancel()">关闭</button>
    </div>
</div>

