<!--手续费进项发票模块-->
<br>
<div class="AccountTap" style="text-align: center;background: #fff">
    <btn-group style="margin:16px auto; min-width: 400px;" btns="infoToView.tapName" b-click="changeTap(index)"></btn-group>
</div>
<div class="section venus_hasFooter" style="margin-top: 0">
    <!--手续费发票登记查询-->
    <div ng-if="infoToView.tapFlag=='1'" ng-include="'components/inputInvoice/feeInputInvoice/tpl/inputInvoice.feeInputInvoice.tpl.html'" ></div>
    <!--手续费发票查询-->
    <div ng-if="infoToView.tapFlag=='2'" ng-include="'components/inputInvoice/feeInputInvoice/tpl/inputInvoice.feeInputInvoiceSearch.tpl.html'"></div>
</div>
