<!--业务单详细信息页面-->
<div class="modal-content" style="width: 90%;padding: 0 24px">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <div class="modal-title text-center">业务收付信息</div>
    </div>
    <div class="modal-body">
        <div class="venus_table">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>业务号</th>
                    <th>费用类型</th>
                    <th>险种</th>
                    <th>投保人</th>
                    <th>被保险人</th>
                    <th>代理人</th>
                    <th>业务员</th>
                    <th>收款人</th>
                    <th>缴费期数</th>
                    <th>应付币种</th>
                    <th>应收付金额</th>
                    <th>汇率</th>
                    <th>实付币种</th>
                    <th>实付金额</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="venus_table">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>结算单号</th>
                    <th>支付对象</th>
                    <th>支付币种</th>
                    <th>汇率</th>
                    <th>支付总金额</th>
                    <th>代扣个人所得税</th>
                    <th>代扣增值税</th>
                    <th>代扣城建税</th>
                    <th>代扣教育费附加</th>
                    <th>代扣地方教育费附加</th>
                    <th>代扣地方性税费</th>
                    <th>净金额</th>
                    <th>结算单日期</th>
                    <th>生成人员</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</div>