<div class="modal-content" style="width: 70%;padding: 0 24px">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <div class="modal-title text-center">待缴费单证信息</div>
    </div>
    <div class="modal-body">
        <div class="venus_table">
        <table class="table table-bordered" >
            <thead>
            <tr>
                <th>业务单号</th>
                <th>业务类型</th>
                <th>期次</th>
                <th>费用类型</th>
                <th>险种代码</th>
                <th>投保人名称</th>
                <th>币别</th>
                <th>应收保费</th>
                <th>应收总金额</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in newCollectionDataList track by $index">
                <td>{{d.certiNo}}</td>
                <td ng-switch="d.certiType">
                    <span ng-switch-when="T">投保单</span>
                    <span ng-switch-when="R">保费</span>
                    <span ng-switch-when="E">批单</span>
                    <span ng-switch-when="C">案终赔款</span>
                    <span ng-switch-when="Y">预付赔款</span>
                    <span ng-switch-when="D">垫付赔款</span>
                    <span ng-switch-when="Z">追偿款</span>
                    <span ng-switch-when="V">增值税</span>
                    <span ng-switch-when="S">手续费</span>
                    <span ng-switch-when="X">车船税</span>
                </td>
                <td>{{d.planserialNo}}/{{d.payNo}}</td>
                <td>{{d.payRefreaSon}}</td>
                <td>{{d.riskCode}}</td>
                <td>{{d.appliName}}</td>
                <td>{{d.currenCY1}}</td>
                <td>{{d.premiumPlanFee|format}}</td>
                <td>{{d.planFee|format}}</td>
                <td><a href="" ng-click="deleteList($index)">删除</a></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-link" style="color: #cb2028">总金额{{newCollectionDataList[0].currenCY1}}&nbsp;&nbsp;{{selectedPay|format}}</button>
        <button class="btn btn-success" ng-click="saveCollectionDataList()">保存缴费通知单</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</div>