<!--缴费通知单详细信息页面-->
<div class="modal-content" style="width: 80%;padding: 0 24px">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <div class="modal-title text-center">缴费通知单详细信息</div>
    </div>
    <div class="modal-body" >
        <div class="mc_form">
            <form class="form-horizontal">
                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                   <label class="col-xs-4">缴费通知单号：</label>
                    <div class="col-xs-8">
                        <span ng-bind="paymentNoticeCondition.transactionNo"></span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                   <label class="col-xs-4">总金额：</label>
                    <div class="col-xs-8">
                        <span>{{paymentNoticeCondition.sumFee|format}}</span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                   <label class="col-xs-4">机构名称：</label>
                    <div class="col-xs-8">
                        <span ng-bind="paymentNoticeCondition.branchCode"></span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                   <label class="col-xs-4">币种：</label>
                    <div class="col-xs-8">
                        <span ng-bind="paymentNoticeCondition.currenCY"></span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                   <label class="col-xs-4">投保人名称：</label>
                    <div class="col-xs-8">
                        <span ng-bind="paymentNoticeCondition.appliName"></span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                   <label class="col-xs-4">缴费状态：</label>
                    <div class="col-xs-8" ng-switch="paymentNoticeCondition.tranoStatus">
                        <span ng-switch-when="0">未缴费</span>
                        <span ng-switch-when="1">缴费成功</span>
                        <span ng-switch-when="2">缴费失败</span>
                        <span ng-switch-when="3">交易作废</span>
                        <span ng-switch-when="4">确认成功</span>
                        <span ng-switch-when="5">缴费中</span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6">
                   <label class="col-xs-4">生成日期：</label>
                    <div class="col-xs-8">
                        <span ng-bind="paymentNoticeCondition.inputDate"></span>
                    </div>
                </div>
                <div class="form-group"></div>
            </form>
        </div>
        <div class="venus_table">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>业务单号</th>
                    <th>业务类型</th>
                    <th>期次</th>
                    <th>费用类型</th>
                    <th>险种代码</th>
                    <th>投保人名称</th>
                    <th>币别</th>
                    <th>应收保费</th>
                    <th>应收总金额</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in paymentNoticeList">
                    <td>{{$index+1}}</td>
                    <td>{{d.certiNo}}</td>
                    <td ng-switch="d.certiType">
                        <span ng-switch-when="T">投保单</span>
                        <span ng-switch-when="R">保费</span>
                        <span ng-switch-when="E">批单</span>
                        <span ng-switch-when="C">案终赔款</span>
                        <span ng-switch-when="Y">预付赔款</span>
                        <span ng-switch-when="D">垫付赔款</span>
                        <span ng-switch-when="Z">追偿款</span>
                        <span ng-switch-when="V">增值税</span>
                        <span ng-switch-when="S">手续费</span>
                        <span ng-switch-when="X">车船税</span>
                    </td>
                    <td>{{d.planserialNo}}/{{d.payNo}}</td>
                    <td>{{d.payRefreaSon}}</td>
                    <td>{{d.riskCode}}</td>
                    <td>{{d.appliName}}</td>
                    <td>{{d.currenCY1}}</td>
                    <td>{{d.premiumPlanFee|format}}</td>
                    <td>{{d.planFee|format}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row list_content_bottom">
            <span class="text-left" align="bottom">共{{paymentNoticeCondition.totalItems}}条记录</span>
            <!--<pagination-->
                    <!--ng-model="pagination.pageIndex"-->
                    <!--class="pagination-sm pull-right"-->
                    <!--total-items="pagination.totalItems"-->
                    <!--page="pagination.pageIndex"-->
                    <!--items-per-page="pagination.pageSize"-->
                    <!--max-size="pagination.maxSize"-->
                    <!--previous-text="上一页"-->
                    <!--next-text="下一页"-->
                    <!--first-text="首页"-->
                    <!--last-text="末页"-->
                    <!--class=""-->
                    <!--ng-click="searchpaymentNoticeList()"-->
                    <!--style="margin: 0 20px 20px 0;"-->
                    <!--boundary-links="true"-->
                    <!--on-select-page="onSelectPage(page)">-->
            <!--</pagination>-->
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</div>