<!--银行流水重复导入提示-->
<div class="modal-content" style="width: 320px;position: relative;left: 3%;top: 100px;">
    <div class="modal-ok">
        <span class="glyphicon glyphicon-ok-sign"></span>
    </div>
    <div style="text-align: center; color: #008A2C">
        <h3>提示信息</h3>
    </div>
    <div class="modal-body">
        <div>数据已存在，是否重复导入！</div>
    </div>
    <div class="modal-footer">
        <div>
            <button class="btn btn-default" ng-click="importBankInfo()">是</button>
            <button class="btn btn-default" ng-click="cancel()">否</button>
        </div>
    </div>
</div>