<!--税会调差-->
<div class="section venus_hasFooter">
    <div class="form_three">
        <form class="form-horizontal" ng-if="!moreFlag">
            <div class="form-group">
                <div class="col-xs-2 control-label"><span>交易流水号：</span></div>
                <div class="col-xs-4">
                    <input type="text" ng-model="outPutInvoice.batchNo"><span class="color_red">*</span>
                </div>
                <div class="col-xs-2 control-label"><span>开票日期：</span></div>
                <div class="col-xs-4">
                    <input type="text" ng-model="outPutInvoice.operateDate"  class="date" id="date6" jedate
                           format="YYYY-MM-DD"/><span class="color_red">*</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 control-label"><span>发票代码：</span></div>
                <div class="col-xs-4">
                    <input type="text" ng-model="outPutInvoice.invoiceCode"><span class="color_red">*</span>
                </div>
                <div class="col-xs-2 control-label"><span>发票号码：</span></div>
                <div class="col-xs-4">
                    <input type="text" ng-model="outPutInvoice.visaSerialNo"><span class="color_red">*</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 control-label"><span>开票人代码：</span></div>
                <div class="col-xs-4">
                    <input type="text" ng-model="outPutInvoice.printerCode">
                </div>
                <div class="col-xs-2 control-label"><span>开票人名称：</span></div>
                <div class="col-xs-4">
                    <input type="text" ng-model="outPutInvoice.printerName"><span class="color_red">*</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 control-label"><span>发票类型：</span></div>
                <div class="col-xs-4">
                    <div mc-code-select code="InvoiceModalType"  class="form_modal_select" ng-model="outPutInvoice.invoiceType"  style="width: 240px; float: left"></div>
                    <span class="color_red" style="float: left">*</span>
                </div>
                <div class="col-xs-2 control-label"><span>票打印状态：</span></div>
                <div class="col-xs-4">
                    <div mc-code-select code="visaPrintStatus"  class="form_modal_select" ng-model="outPutInvoice.visaPrintStatus"  style="width: 240px; float: left"></div>
                    <span class="color_red" style="float: left">*</span>
                </div>
            </div>
            <div class="row list_queryForm_btn">
                <button class="btn btn-primary"  ng-click="outPutInvoiceSubmit()">确认</button>
                <button class="btn btn-success" ng-click="outPutInvoiceReset()">重置</button>
            </div>
        </form>
    </div>
</div>