<div class="modal-content" style="width: 1080px">
    <div class="modal-header" style="min-height: 40px">
        <a style="cursor:pointer;" class="glyphicon glyphicon-remove pull-right" ng-click="cancel()"></a>
        <h5 class="text-center">代缴付费单证信息</h5>
    </div>
    <span class="modal-subTitle" style="margin-left: 30px">缴付费通知单号：242343544222</span>
    <div class="modal-body account-modal-submit">
        <table class="table table-bordered" >
            <thead>
            <tr>
                <th>机构代码</th>
                <th>单证类型</th>
                <th>单证号</th>
                <th>投保人</th>
                <th>收付代码</th>
                <th>收付类别</th>
                <th>结算币种</th>
                <th>结算金额</th>
                <th>原币种</th>
                <th>金额</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in collectionDataList">
                <td ng-class="d.changeClass">{{d.demo1}}</td>
                <td ng-class="d.changeClass">{{d.demo2}}</td>
                <td ng-class="d.changeClass">{{d.demo3}}</td>
                <td ng-class="d.changeClass">{{d.demo4}}</td>
                <td ng-class="d.changeClass">{{d.demo5}}</td>
                <td ng-class="d.changeClass">{{d.demo6}}</td>
                <td ng-class="d.changeClass">{{d.demo7}}</td>
                <td ng-class="d.changeClass">{{d.demo8}}</td>
                <td ng-class="d.changeClass">{{d.demo9}}</td>
                <td ng-class="d.changeClass">{{d.demo10}}</td>
                <td ng-class="d.changeClass"><a href="">删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">保存缴付费通知单</button>
    </div>
</div>