<!--进项发票取消-->
<div class="section venus_hasFooter">
    <!--查询部分-->
    <div class="row list_query">
        <div class="col-xs-5">
            <div class="input-group">
                <input placeholder="请输入保/批单号"type="text" style="" class="form-control"
                       ng-model="cancelRO.cancelQuery.certiNo1">
                <span class="input-group-addon cursor_pointer" ng-click="cancelROQuery()">
                    <div class="glyphicon glyphicon-search"></div>
                </span>
            </div>
        </div>

        <div ng-show="!cancelRO.moreFlag" class="col-xs-4 col-sm-2 col-md-2 list_query_font"><span ng-click="cancelRO.moreFlag=!cancelRO.moreFlag">高级查询</span></div>
        <div ng-show="cancelRO.moreFlag" class="col-xs-4 col-sm-2 col-md-2 list_query_font"><span ng-click="cancelRO.moreFlag=!cancelRO.moreFlag ">普通查询</span></div>
    </div>
    <!--高级查询表单-->
    <div class="mc_form" ng-if="cancelRO.moreFlag">
        <form class="form-horizontal">
            <div class="col-md-6 col-sm-12 form-group">
                <label class="col-xs-4">发票代码：</label>
                <div class="col-xs-8">
                    <input type="text" class="col-xs-10" ng-model="cancelRO.cancelQuery.invoiceCode">
                    <span class="color_red">*</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 form-group">
                <label class="col-xs-4">发票号码：</label>
                <div class="col-xs-8">
                    <input type="text" class="col-xs-10" ng-model="cancelRO.cancelQuery.visaSerialNo">
                    <span class="color_red">*</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 form-group">
                <label class="col-xs-4">保/批单号列表：</label>
                <div class="col-xs-8">
                    <textarea cols="25" rows="3" class="col-xs-10" style="display: inline-block" ng-model="cancelRO.cancelQuery.certiNoList"></textarea>
                    <span class="color_red">*</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 form-group">
                <label class="col-xs-4">保/批单号 从：</label>
                <div class="col-xs-8">
                    <input type="text" class="col-xs-10" ng-model="cancelRO.cancelQuery.certiNo1">
                    <span class="color_red">*</span>
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label class="col-xs-4">到：</label>
                <div class="col-xs-8">
                    <input type="text" class="col-xs-10" ng-model="cancelRO.cancelQuery.certiNo2">
                    <span class="color_red">*</span>
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label class="col-xs-4">发票登记起期：</label>
                <div class="col-xs-8">
                    <input type="text" class="date col-xs-10" id="date1" jedate format="YYYY-MM-DD" ng-model="cancelRO.cancelQuery.invoiceRegistStartDate">
                    <span class="color_red">*</span>
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label class="col-xs-4">发票登记止期：</label>
                <div class="col-xs-8">
                    <input type="text" class="date col-xs-10" id="date2" jedate format="YYYY-MM-DD" ng-model="cancelRO.cancelQuery.invoiceRegistEndDate">
                    <span class="color_red">*</span>
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label class="col-xs-4">费用类型：</label>
                <div class="col-xs-8">
                    <div mc-code-select code="typeOfExpense" class="col-xs-10 pl0 pr0" ng-model="cancelRO.cancelQuery.chargeType"></div>
                </div>
            </div>
            <div class="form-group"></div>
            <div class="row list_queryForm_btn">
                <button class="btn btn-success" ng-click="cancelROQuery()">查询</button>
                <button class="btn btn-primary" ng-click="cancelROReset()">重置</button>
            </div>
        </form>
    </div>
    <div class="venus_table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" ng-change="selectedPayAll();selectNum()" ng-model="cancelRO.status.checkAll"></th>
                    <th>发票代码</th>
                    <th>发票号码</th>
                    <th>开票日期</th>
                    <th>登记日期</th>
                    <th>抵扣成功日期</th>
                    <th>票面金额（不含税）</th>
                    <th>票面税额</th>
                    <th>开票税率</th>
                    <th>价税合计金额</th>
                    <th>销方纳税人识别号</th>
                    <th>购方纳税人识别号</th>
                    <th>进项项目</th>
                    <th>发票状态</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cancel in cancelRO.cancelROList" ng-class="{true: 'venus_table_check', false: ''}[cancel.checked]">
                    <td><input type="checkbox" ng-change="selectedPayOne();selectNum()" ng-model="cancel.checked"></td>
                    <td>{{cancel.invoiceCode}}</td><!--发票代码-->
                    <td>{{cancel.visaSerialNo}}</a></td>
                    <td>{{cancel.printDate | mcDate}}</td><!--开票日期-->
                    <td>{{cancel.registDate | mcDate}}</td><!--登记日期-->
                    <td>{{cancel.deductDate | mcDate}}</td><!--抵扣成功日期-->
                    <td>{{cancel.ntVisaFee |format}}</td><!--票面金额（不含税）-->
                    <td>{{cancel.vATaxFee |format}}</td><!--票面税额-->
                    <td>{{cancel.vATaxRate}}</td><!--开票税率-->
                    <td>{{cancel.visaFee |format}}</td><!--价税合计金额-->
                    <td>{{cancel.salePayerNo}}</td><!--销方纳税人识别号-->
                    <td>{{cancel.taxPayerNo}}</td><!--购方纳税人识别号-->
                    <td>{{cancel.inputProject}}</td><!--进项项目-->
                    <td>{{cancel.visaStatusName}}</td><!--发票状态-->
                </tr>
            </tbody>
        </table>
    </div>
    <!--总条数-->
    <div class="row list_content_bottom" ng-if="cancelRO.cancelROList.length >0">
        <span class="text-left" align="bottom">共{{cancelRO.cancelROList.length}}条记录</span>
    </div>
    <!--列表底部悬浮块-->
    <div class="row list_footer" ng-if="cancelRO.status.selectNum>0">
        <button class="btn btn-primary" ng-click="cancelOut()">取消登记/转出</button>
    </div>
</div>