<div class="modal-content" style="width: 75%;padding: 0 24px">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <div class="modal-title text-center">账单支付</div>
    </div>
    <div class="modal-body">
        <div class="mc_form">
            <form class="form-horizontal">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 margin-bottom-18">
                    <label class="col-xs-4">结算单编号：</label>
                    <div class="col-xs-8">
                        {{reinPayData.settleNo}}
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 margin-bottom-18">
                    <label class="col-xs-4">账单确定日期：</label>
                    <div class="col-xs-8">
                        <input type="text" class=" date col-xs-10" ng-model="reinPayData.accDate" id="date5" name="date" jedate format="YYYY-MM-DD">
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 margin-bottom-18">
                    <label class="col-xs-4">结算人编号：</label>
                    <div class="col-xs-8" >
                        {{reinPayData.reinsCode}}
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 margin-bottom-18">
                    <label class="col-xs-4">结算人名称：</label>
                    <div class="col-xs-8">
                        {{reinPayData.reinsName}}
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 margin-bottom-18">
                    <label class="col-xs-4">账单币种：</label>
                    <div class="col-xs-8" >
                        {{reinPayData.currency|mcCode:'Currency'}}
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 margin-bottom-18">
                    <label class="col-xs-4">账单金额：</label>
                    <div class="col-xs-8" >
                        {{reinPayData.planFee| format}}
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 margin-bottom-18">
                    <label class="col-xs-4">结付币种：</label>
                    <div class="col-xs-8" >
                        <mc-code-select code="Currency" ng-model="reinPayData.currencyS"  class="col-xs-10 pl0 pr0"></mc-code-select>

                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 margin-bottom-18">
                    <label class="col-xs-4">汇率：</label>
                    <div class="col-xs-8" >
                        <input type="text" class="col-xs-10" ng-model="reinPayData.rate">
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 margin-bottom-18">
                    <label class="col-xs-4">结付金额：</label>
                    <div class="col-xs-8" >
                        <input type="text" class="col-xs-10" ng-model="reinPayData.balanceS">
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 margin-bottom-18">
                    <label class="col-xs-4">经办人：</label>
                    <div class="col-xs-8" >
                        <input type="text" class="col-xs-10" ng-model="reinPayData.operatorCode">
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 margin-bottom-18">
                    <label class="col-xs-4">结付金额（调差后）：</label>
                    <div class="col-xs-8" >
                        <input type="text" class="col-xs-10" ng-model="reinPayData.balanceS1">
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-6 margin-bottom-18">
                    <label class="col-xs-4">尾差金额：</label>
                    <div class="col-xs-8" >
                        <input type="text" class="col-xs-10" ng-model="reinPayData.balanceS2">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-body account-modal-submit venus_table">
        <div class="venus_modal_tableName">
            <span>收付信息</span>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>账单编号</th>
                <th>结算人编号</th>
                <th>结算人名称</th>
                <th>账单币种</th>
                <th>账单余额</th>
                <th>账单期/临分分期</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rein in reinPayData.prpJreinsFeeDtoList">
                <td>{{rein.accNo}}</td>
                <td>{{rein.reinsCode}}</td>
                <td>{{rein.reinsName}}</td>
                <td>{{rein.currency1}}</td>
                <td>{{rein.planFee}}</td>
                <td>{{rein.accPeriod}}</td>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="exSubmit()">确认</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>

    </div>
</div>