<!--流程节点信息-->
<div class="modal-content" style="width: 800px;">
    <div class="modal-header" style="height: 50px">
        <div class="col-md-10" style="margin-left: 45%">流程节点信息</div><div style="margin-left: 96%;margin-top: -15px;" class="col-md-2"><button type="button" class="close" ng-click="cancel()">&times;</button></div>
    </div>
    <div class="modal-body exchangeInp tc" style="margin-bottom: -10px;">
        <img src="{{imageType}}" alt="" style="width: 500px;height: 300px">
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</div>