<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
</head>
<link rel="stylesheet" href="../../../../css/bootstrap.3.1.1.css">
<link rel="stylesheet" href="../../../../css/main.css">
<link rel="stylesheet" href="../../../../css/common.css">
<script src="../../../../lib/require/require.js" data-main="lookInfo.print"></script>
<style>
    .printing .noPrint{
        dispdlay:none;
    }
    table td{
        text-align: left;
        height: 18px;
        line-height: 18px!important;
    }
    .padding_top_7{
        padding-top: 7px;
    }
</style>
<body class="printing">
<div id="ng-app1" ng-controller="PrintCtrl" class="bgfff p0-100">
    <div class="modal-header">
        <div class="modal-title text-center">日收付业务流水清单</div>
    </div>
    <div class="modal-body">
        <div class="mc_form row">
            <form class="form-horizontal">
                <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                    <label class="col-xs-4 col-sm-4 col-md-3 padding_clear">收付人员：</label>
                    <div class="col-xs-8">
                        <span ng-bind="dailyFlowCondition.handlerCode"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                    <label class="col-xs-4 col-sm-4 col-md-3 padding_clear">收付币种：</label>
                    <div class="col-xs-8">
                        <span ng-bind="dailyFlowCondition.currency"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 form-group">
                    <label class="col-xs-4 col-sm-4 col-md-3 padding_clear">业务时间：</label>
                    <div class="col-xs-8">
                        <span ng-bind="dailyFlowCondition.balanceDate"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="venus_table">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>临时凭证号</th>
                    <th>业务类型</th>
                    <th>收付方式</th>
                    <th>业务单据号</th>
                    <th>银行账号</th>
                    <th>金额</th>
                    <th>收付单位</th>
                    <th>核算单位</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="d in dailyFlowList">
                    <td>{{$index+1}}</td>
                    <td>{{d.certificateNo}}</td>
                    <td>{{d.businessType}}</td>
                    <td>{{d.payType}}</td>
                    <td>{{d.certiNo}}</td>
                    <td>{{d.accountNo}}</td>
                    <td>{{d.planFee | number:2}}</td>
                    <td>{{d.comCode}}</td>
                    <td>{{d.centerCode}}</td>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <td>合计：</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{sumPlanFee}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="printImg" class="config_button text-center">
        <button class="btn btn-success" ng-click="printTest()">打印</button>
        <button class="btn btn-warning" onclick="window.close()">关闭</button>
    </div>
</div>
</body>
</html>