<!--缴费金额为负-->
<div class="modal-content" style="width: 80%;padding: 0 24px">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <div class="modal-title text-center">缴费通知单信息</div>
    </div>
    <div class="modal-body">
        <div class="venus_table" style="min-height: 250px">
        <div class="venus_modal_tableName">
            <span>交易信息</span>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>缴费通知单号</th>
                <th>核算单位</th>
                <th>客户名称</th>
                <th>操作日期</th>
                <th>应收币别</th>
                <th>应收金额</th>
                <th>实收币别</th>
                <th>兑换率</th>
                <th>实收金额</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span ng-bind="negativeMoney.transactionNo"></span></td>
                <td><span ng-bind="negativeMoney.centerCode"></span></td>
                <td><span ng-bind="negativeMoney.appliName"></span></td>
                <td><span ng-bind="negativeMoney.operatorDate"></span></td>
                <td><span ng-bind="negativeMoney.currenCY"></span></td>
                <td><span>{{negativeMoney.sumFee|format}}</span></td>
                <td style="width:10%">
                    <select-list wait-change="findExchangeRate()" base-code="Currency"
                                 ng-model="negativeMoney.currency2"
                                 ng-value="negativeMoney.currency3"
                                 style="width: 110px">
                    </select-list>
                </td>
                </td>
                <td style="width: 15%"><input type="text" ng-model="negativeMoney.exchangeRate" ng-blur="countFee()" ng-readonly="negativeMoney.currenCY==negativeMoney.currency2"  mc-input-cut transmit-type="number" input-type="float" min-value='0' maxlength="10" ></td>
                <td style="min-width: 180px"><input type="text" ng-model="negativeMoney.sumFeeCny" mc-format-switch transmit-type="text" class="form-control" ng-blur="countRate()"></td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="venus_table" style="height: 300px">
            <div class="venus_modal_tableName">
                <span>收付信息</span>
            </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>币种</th>
                <th>收付方式</th>
                <th style="width: 30%">银行账户/转销信息</th>
                <th>金额</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span ng-bind="negativeMoney.currency2"></span></td>
                <td style="width: 10%">
                    <select-list wait-change="payWayAccount()" data="{comCode:user.centerCode,permitPayType:'SP01'}" selectType="payway" ng-model="negativeMoney.payWay" ng-value="negativeMoney.payWayName">
                    </select-list>
                </td>
                <td style="width:250px">
                    <div class="input-group-sm "style="width: 432px">
                        <div mc-code-select data="payWayBank" ng-model="negativeMoney.accountNo" ></div>
                    </div>
                </td>
                <td>{{negativeMoney.sumFeeCny}}</td>
                <td><input type="text" ng-model="negativeMoney.remark"></td>
            </tbody>
        </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="negativeMoneySubmit()">确认</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</div>